@page "/counter"

<h1>Counter</h1>
<MySecondComponet CurrentCounterValue=@_counter />
<button class="btn btn-primary"
        @onclick="IncrementCounter">
    Increment counter
</button>

@code
{
    private int _counter;

    private void IncrementCounter()
    {
        _counter++;
    }
}
