@page "/"
@using System.Diagnostics

<h1>Hello, world!</h1>
<MyFirstComponent />
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ul>
    <li>Last multiple of three = @lastMultipleOfThree</li>
    <li>Last multiple of two = @lastMultipleOfTwo</li>
</ul>

<Counter OnMultipleOfThree=@UpdateLastMultipleOfThreeValue
         OnMultipleOfTwoAction="@UpdateLastMultipleOfTwoValue" />

@code
{
    int lastMultipleOfThree;
    int lastMultipleOfTwo;

    private void UpdateLastMultipleOfThreeValue(int value)
    {
        lastMultipleOfThree = value;
    }

    private void UpdateLastMultipleOfTwoValue(int value)
    {
        lastMultipleOfTwo = value;
    }

    private static void TopLevelClicked()
    {
        Debug.WriteLine("Top level clicked");
    }
    private static void SecondLevelClicked()
    {
        Debug.WriteLine("Second level clicked");
    }
    private static void ThirdLevelClicked()
    {
        Debug.WriteLine("Third level clicked");
    }
}