@page "/admin/users"
@using MyFirstBlazorApp.Shared

<div class="row">
    <div class="col-4">To HTML attribute using .ToString()</div>
    <div class="col-8"><input readonly value=@myPerson/></div>
</div>

<div class="row">
    <div class="col-4">To component value as object</div>
    <div class="col-8">
        <PersonView Person=@myPerson/>
    </div>
</div>

@code
{
    Person myPerson;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        myPerson = new Person
        {
            Salutation = "Mr",
            GivenName = "Peter",
            FamilyName = "Morris"
        };
    }
}
