<div>
    Current counter value in MyFirstComponent is @CurrentCounterValue
</div>

<button @onclick="UpdateCurrentCounterValue"
        class="btn btn-dark">
    Update
</button>

@code {
    [Parameter]
    public int CurrentCounterValue { get; set; }

    [Parameter]
    public EventCallback<int> CurrentCounterValueChanged { get; set; }

    private async Task UpdateCurrentCounterValue()
    {
        CurrentCounterValue++;
        await CurrentCounterValueChanged.InvokeAsync(CurrentCounterValue);
    }
}
